@import url("https://fonts.googleapis.com/css2?family=Anton&family=Boldonse&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-cta: #8c73ea;
  --color-white: #ffffff;
  --color-off-white: #fafafa;
  --color-drape-black: #111111;
  --font-Nunito: "Nunito", sans-serif;
  --font-Outfit: "Outfit", sans-serif;
  --font-Anton: "Anton", sans-serif;
  --font-Boldonse: "Boldonse", system-ui;
}

@layer {
  body {
    @apply bg-white text-drape-black;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* Reset happens here, but it's invisible */
}

.animate-marquee {
  display: flex;
  width: max-content; /* Critical: tells the div to be as wide as the content */
  animation: marquee 30s linear infinite;
}
